<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <!-- Define Properties -->
    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">
            %style{%d{dd/MM/yyyy|HH:mm:ss.SSS a}{IST}{ISO8601}}{magenta} [%highlight{%-5level}] %style{%C{2.}.%M}{yellow}%style{(line:%L)}{blue}: %msg%n%throwable
        </Property>
        <Property name="LOG_FILE_PATTERN">
            %d{dd/MM/yyyy HH:mm:ss.SSS a}{IST}{ISO8601} [%-5level] %C{2.}.%M(line:%L): %msg%n%throwable
        </Property>
        <Property name="LOG_FILE_PATH">
            /app/db_world/logs
<!--            D:\home\dbworld_admin\ext_hdisk\dbworld\logs-->
        </Property>
    </Properties>

    <!-- Define Appenders -->
    <Appenders>
        <!-- Console Appender for Text Format -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}" disableAnsi="false"/>
        </Console>

        <!-- Console Appender for JSON Format -->
<!--        <Console name="ConsoleJson" target="SYSTEM_OUT" follow="true">-->
<!--            <JsonLayout compact="true" eventEol="true"/>-->
<!--        </Console>-->

        <!-- Main Log File for Text Format -->
        <RollingFile name="MainFile" fileName="${LOG_FILE_PATH}/dbworld.log" filePattern="${LOG_FILE_PATH}/old/dbworld-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Main Log File for JSON Format -->
        <RollingFile name="MainFileJson" fileName="${LOG_FILE_PATH}/dbworld-json.log" filePattern="${LOG_FILE_PATH}/old/dbworld-json-%d{yyyy-MM-dd}.log">
            <JsonLayout compact="true" eventEol="true"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-json-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Info Log File for Text Format -->
        <RollingFile name="InfoFile" fileName="${LOG_FILE_PATH}/dbworld-info.log" filePattern="${LOG_FILE_PATH}/old/dbworld-info-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-info-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Info Log File for JSON Format -->
        <RollingFile name="InfoFileJson" fileName="${LOG_FILE_PATH}/dbworld-info-json.log" filePattern="${LOG_FILE_PATH}/old/dbworld-info-json-%d{yyyy-MM-dd}.log">
            <JsonLayout compact="true" eventEol="true"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-info-json-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Warn Log File for Text Format -->
        <RollingFile name="WarnFile" fileName="${LOG_FILE_PATH}/dbworld-warn.log" filePattern="${LOG_FILE_PATH}/old/dbworld-warn-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-warn-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Warn Log File for JSON Format -->
        <RollingFile name="WarnFileJson" fileName="${LOG_FILE_PATH}/dbworld-warn-json.log" filePattern="${LOG_FILE_PATH}/old/dbworld-warn-json-%d{yyyy-MM-dd}.log">
            <JsonLayout compact="true" eventEol="true"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-warn-json-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Error Log File for Text Format -->
        <RollingFile name="ErrorFile" fileName="${LOG_FILE_PATH}/dbworld-error.log" filePattern="${LOG_FILE_PATH}/old/dbworld-error-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-error-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Error Log File for JSON Format -->
        <RollingFile name="ErrorFileJson" fileName="${LOG_FILE_PATH}/dbworld-error-json.log" filePattern="${LOG_FILE_PATH}/old/dbworld-error-json-%d{yyyy-MM-dd}.log">
            <JsonLayout compact="true" eventEol="true"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/> <!-- Rotate daily -->
            </Policies>
            <DefaultRolloverStrategy max="7"> <!-- Delete logs older than 1 week -->
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-error-json-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Debug Log File (Text) -->
        <RollingFile name="DebugFile" fileName="${LOG_FILE_PATH}/dbworld-debug.log"
                     filePattern="${LOG_FILE_PATH}/old/dbworld-debug-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-debug-*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Debug Log File (JSON) -->
        <RollingFile name="DebugFileJson" fileName="${LOG_FILE_PATH}/dbworld-debug-json.log"
                     filePattern="${LOG_FILE_PATH}/old/dbworld-debug-json-%d{yyyy-MM-dd}.log">
            <JsonLayout compact="true" eventEol="true"/>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfFileName glob="dbworld-debug-json-*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <!-- Define Loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleJson"/>
            <AppenderRef ref="MainFile"/>
            <AppenderRef ref="MainFileJson"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="InfoFileJson"/>
            <AppenderRef ref="WarnFile"/>
            <AppenderRef ref="WarnFileJson"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="ErrorFileJson"/>
        </Root>
    </Loggers>
</Configuration>
